/* Resetting margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Styling for the body */
body {
    background: linear-gradient(#03283d, #021949, #00141f);
    /* Background gradient */
    height: 100vh;
    /* Full height of viewport */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Font stack */
}

/* Styling for anchor tags */
a {
    text-decoration: none;
    /* Remove default underline */
    color: #fff;
    /* Text color */
}

/* Styling for the header */
header {
    position: fixed;
    /* Fixed position */
    width: 95%;
    /* 95% of the viewport width */
    display: flex;
    /* Flex container */
    justify-content: space-between;
    /* Space between logo and navigation */
    align-items: center;
    /* Center vertically */
    margin: 20px;
    /* Margin around the header */
    z-index: 100;
    /* Z-index to keep it above other elements */
}

/* Styling for the logo */
header .logo {
    font-size: 30px;
    /* Font size */
    text-transform: uppercase;
    /* Uppercase text */
}

/* Styling for the navigation menu */
header ul {
    display: flex;
    /* Flex container */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    list-style: none;
    /* Remove default list styling */
}

/* Styling for list items in the navigation menu */
header ul li {
    margin-right: 30px;
    /* Right margin between list items */
}

/* Styling for anchor tags in the navigation menu */
header ul li a {
    padding: 6px 15px;
    /* Padding around the text */
}

/* Styling for anchor tags in the navigation menu on hover or when active */
header ul li a:hover,
.active {
    background: #fff;
    /* Background color */
    color: #04349c;
    /* Text color */
    border-radius: 15px;
    /* Rounded corners */
}


/* Styling for the main section */
#main {
    position: relative;
    /* Relative positioning */
    height: 100vh;
    /* Full height of viewport */
    width: 100%;
    /* Full width */
    display: flex;
    /* Flex container */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    overflow: hidden;
    /* Hide overflowing content */
}

/* Styling for pseudo element after main section */
#main::after {
    content: '';
    /* Empty content */
    position: absolute;
    /* Absolute positioning */
    bottom: 0;
    /* Positioned at the bottom */
    height: 100px;
    /* Height of gradient */
    width: 100%;
    /* Full width */
    background: linear-gradient(to top, #03283d, transparent);
    /* Gradient from dark blue to transparent */
}

/* Styling for images in the main section */
#main img {
    position: absolute;
    /* Absolute positioning */
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full height of viewport */
    object-fit: cover;
    /* Ensure image covers entire container */
}

/* Styling for moon image */
#moon {
    mix-blend-mode: screen;
    /* Blend mode */
    transform: translateY(80px);
    /* Translate vertically */
}

/* Styling for title */
#title {
    color: #fff;
    /* Text color */
    font-size: 25px;
    /* Font size */
    text-transform: uppercase;
    /* Uppercase text */
    transform: translateY(-140px);
    /* Translate vertically */
}

/* Styling for content section */
.content {
    color: #fff;
    /* Text color */
    padding: 30px;
    /* Padding around content */
}

/* Styling for content headings */
.content h2 {
    margin: 20px;
    /* Margin */
    font-size: 30px;
    /* Font size */
}

/* Styling for content paragraphs */
.content p {
    margin: 20px;
    /* Margin */
}

.menu-toggle {
    display: none;
}


/* Hide sidebar by default on small screens */
@media only screen and (max-width: 768px) {
    .sidebar.show {
        right: 0;
    }

    /* Styles for sidebar */
    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        right: -250px;
        /* Initially hidden */
        background-color: #03283d;
        color: #fff;
        /* Start position outside the viewport */
        transition: right 0.3s ease;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Optional: Add shadow */
        width: 50%;
        height: 100vh;
        z-index: 10;

    }

    .sidebar ul {
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sidebar ul li {
        margin-bottom: 20px;

    }

    .sidebar ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    .sidebar ul li .active {
        color: #021949;
    }

    /* Styles for hamburger menu icon */
    .menu-toggle {
        display: block;
        position: fixed;
        top: 30px;
        right: 20px;
        cursor: pointer;
        z-index: 9999;
    }

    .menu-toggle span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 5px;
    }
}


/* Media query for small screens */
@media only screen and (max-width: 768px) {


    header .logo {
        font-size: 23px;

    }


    #title {
        font-size: 20px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content {
        background: linear-gradient(#03283d, #021949, #00141f);

    }

    .content p {
        font-size: 12px;

    }


    /* Styling for images in the main section */
    #main img {
        position: absolute;
        /* Absolute positioning */
        width: 100%;
        /* Full width */
        height: 100vh;
        /* Full height of viewport */
        object-fit: cover;
        /* Ensure image covers entire container */
    }

    /* Styling for moon image */
    #moon {
        mix-blend-mode: screen;
        /* Blend mode */
        transform: translateY(40px);
        /* Translate vertically */
    }



}
